{% capture project_markup %}
<div id="project-{{ forloop.index }}" class="project-card">
  {% assign project_url = include.project.url %}
  {% unless project_url %}
    {% assign slug = include.project.title | slugify %}
    {% assign project_url = '/project/' | append: slug | append: '/' %}
  {% endunless %}
  <h2 class="project-title"><a href="{{ project_url | relative_url }}">{{ include.project.title }}</a></h2>
  
  <div class="project-content">
    <div class="project-text">
      <div class="project-tags">
        {% for tag in include.project.tags %}
          <span class="project-tag" data-tag-value="{{ tag | downcase }}" style="background-color: {{ tag | tag_color }}">{% include tag-label.html tag=tag %}</span>
        {% endfor %}
      </div>
      
      <div class="project-description">
        <div data-lang-target="en">{{ include.project.description_en | default: include.project.description }}</div>
        <div data-lang-target="zh" hidden>{{ include.project.description }}</div>
      </div>

      {% if include.project.collaborators %}
      <p class="project-collaborators">
        <em>Collaborators: {{ include.project.collaborators }}</em>
      </p>
      {% endif %}

    </div>
    
    <div class="project-image-container">
      <a href="{{ project_url | relative_url }}">
        <img src="{{ include.project.image | relative_url }}" alt="{{ include.project.title }}" class="project-image">
      </a>
    </div>
  </div>
  
  {% if include.project.collaborator_icons %}
    <div class="collaborator-icons">
      {% for icon in include.project.collaborator_icons %}
        <img src="{{ icon.image | relative_url }}" alt="{{ icon.name }}" title="{{ icon.name }}" class="collaborator-icon">
      {% endfor %}
    </div>
  {% endif %}
  
  <hr class="project-divider">
</div>
{% endcapture %}

{{ project_markup }}
