---
layout: default
---

<!--
<p class="center">
  <a href="{{ search | relative_url }}">
    See {{ page.name | default: page.title }}'s posts on the Blog page
  </a>
</p>
-->

<nav aria-label="breadcrumb" class="breadcrumb">
  <ol class="breadcrumb px-0">
    <li class="breadcrumb-item"><a href="/team">Team</a></li>
    <li class="breadcrumb-item active" aria-current="page">
      {% if page.name_key %}
      <span data-i18n="{{ page.name_key }}">{{ page.name }}</span>
      {% else %}
      {{ page.name }}
      {% endif %}
    </li>
  </ol>
</nav>

<div class="text-center mt-5">
  <!-- Avatar -->
  <img src="/{{ page.image }}" style=" max-width: 250px; " class="portrait-image" />

  <!-- Name & Role -->
  <h1>
    {% if page.name_key %}
    <span data-i18n="{{ page.name_key }}">{{ page.name }}</span>
    {% else %}
    {{ page.name }}
    {% endif %}
  </h1>
  <div class="text-center mt-5">{{ page.position }}</div> <br>

  <div>
    {% for link in page.links %}
    {% assign key = link[0] %}
    {% assign value = link[1] %}
    {% include button.html type=key link=value style="bare" %}
    {% endfor %}
  </div>

</div>

<!-- Affiliations -->
{% if page.affiliations %}
<div>
  <h3><span data-i18n="member_affiliations">Affiliations</span></h3>
  <ul>
    {% for affiliation in page.affiliations %}
    <li>{{ affiliation }}</li>
    {% endfor %}
  </ul>
</div>
{% endif %}



<!-- Bio -->
<div>
  <h3><span data-i18n="member_biography">Biography</span></h3>
  {{ content }}
</div>

<!-- Education -->
{% if page.education %}
<div>
  <h3><span data-i18n="member_education">Education</span></h3>
  <ul>
    {% for education in page.education %}
    <li>{{ education }}</li>
    {% endfor %}
  </ul>
</div>
{% endif %}
